.inicio{
	width: 100%;
	margin: auto;
}

header{
	width:100%;
	background-color:green;
	color:white;
	padding-left:20px;
	text-align:center;
}

input[name="Ayuda"]{
	border-collapse: collapse;
}

h1{
	padding-left:400px;
}









footer{
	width:100%;
	background-color:purple;
	color:white;
	padding-left:250px;
	text-align:center;
}

header, nav, footer{
	display:flex;
}
